<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
 
  <body>
  
   <div id="featured_intro">
    <div class="fl_left">
    <a href="#"><img src="images/demo/LogoPousada1.jpg" width="350" height="200"  alt="" /></a>
    </div>
    <div class="fl_right">
    	
      <h2>Pousada Paraíso do Pontal</h2>
       <p>Com 365 dias de sol por ano, considerada a jóia do litoral leste cearence, Pontal do Maceió é muito tranqüila
. Situada entre encontro das aguas do rio com mar, a vila tornou-se um pólo turístico com uma excelente infra-estrutura.</p>
<p>
Pousada Paraíso do Pontal oferece uma hospedagem tranqüila e ideal para quem deseja um atendimento personalizado,
voltado ao conforto, e bem estar dos nossos clientes.</p>
<p>
Venha conhecer os encantos das Praias e Rios  do Pontal de Maceió e aproveite sua estada na nossa pousada.
</p>
      
      
    
    </div>
    <br class="clear" />
    
   
  </div>
  

  </body>
</html>
